


<div class="card">
  <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title text-light">編集</h4>
    <p class="card-text">
      登録情報を編集できます。
    </p>
        <%= form_with model:box,local:true do |f| %>

            <%= f.label :名前 %>
            <%= f.text_field :name, {class: 'form-control', required: true}  %>
            <%= f.label :設置場所 %>
            <%= f.collection_select :place, Place.all , :id, :place,{prompt: "選択してください"}, {class: "form-control", required: true} %>
            <%= f.submit "更新",class:  'btn btn-primary mt-3' %>

        <% end %>

    <p><%= link_to "新規場所登録のページ", new_place_path, class: "mt-3" %></p>

  </div>
</div>
