<div class="card">
  <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title">Distribution Board</h4>
    <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p>
            <%= form_with model:box,local:true do |f| %>

                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                <%= f.label :place %>
                <%= f.collection_select :place, Place.all , :id, :place,{prompt: "選択してください"}, {class: "form-control"} %>
                <%= f.label :cable_size %>
                <%= f.number_field :cable_size, class: 'form-control' %>
                <%= f.hidden_field :braker_id, :value =>@braker.id %>
                <%= f.hidden_field :kind, :value =>1 %>

            <%= f.submit class: 'btn btn-primary mt-3' %>

        <% end %>

  </div>
</div>
