<div class="card">
  <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title text-light">分電盤・配電盤登録</h4>
    <p class="card-text">
      分電盤および配電盤の登録ができます。
    </p>
            <%= form_with model:box,local:true do |f| %>

                <%= f.label :名前 %>
                <%= f.text_field :name, {class: 'form-control', required: true}  %>
                <%= f.label :設置場所 %>
                <%= f.collection_select :place, Place.all , :id, :place,{prompt: "選択してください"}, {class: "form-control", required: true} %>
                <%= f.label :電線サイズ %>
                <%= f.collection_select :cable_size, @cables, :name, :name,{prompt: "選択してください"}, {class: "form-control", required: true} %>
                <%= f.hidden_field :braker_id, :value =>@braker.id %>
                <%= f.hidden_field :kind, :value =>1 %>

            <%= f.submit "登録",class: 'btn btn-primary mt-3' %>

        <% end %>

  </div>
</div>
