<table class='table table-boardered'>

  <thead>
     <tr>
       <th>#</th>
       <th>許容電流</th>
       <th>電圧</th>
       <th>使用状況</th>
       <th></th>
     </tr>
  </thead>

  <tbody>
     <% n=0 %>
     <%  brakers.each do |braker|  %>
       <% n+=1 %>
       <tr>
         <td><%= link_to n,  braker_path(braker),  class: ""%></td>
         <td>
           <%= braker.size%> [A]
        </td>
        <td>
           <%= braker.volt %> [V]
        </td>
        <td>
           <%if braker.box.kind == 0 && braker.relation.present? %>
             <%= link_to braker.relation.box.name, box_path(braker.relation.box) %>
           <%elsif braker.box.kind == 1 && braker.supply.present? %>
              <%= link_to braker.supply.machine.name, machine_path(braker.supply.machine)  %>
           <%else %>
             使用可能
            <%end%>
        </td>
        <td>
           <%= link_to 'Edit', edit_braker_path(braker),  class: "btn btn-sm btn-outline-info"%> |
            <%= link_to 'Destroy', braker_path(braker), method: :delete, class: "btn btn-sm btn-outline-warning"%>
        </td>
       </tr>
     <% end %>
  </tbody>

</table>