<div class="row mt-5">
  <div class="col-lg-4">
    <div class="card">
      <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title"><%= @braker.box.name%>のブレーカー</h5>
        <p class="card-text">
          Some quick example text to build on the card title
          and make up the bulk of the card's content.
        </p>
        <p>belongs to：<%= link_to @braker.box.name, box_path(@braker.box) %></p>
        <p>voltage：<%= @braker.volt %>[V]</p>
        <p>Current：<%= @braker.size %>[A]</p>
        <p>
          <% if @braker.relation.present? %>
              has:<%= link_to @braker.relation.box.name,box_path(@braker.relation.box) %>
          <% elsif @braker.supply.present? %>
              has:<%= link_to @braker.supply.machine.name, machine_path(@braker.supply.machine) %>
          <% end %>
        </p>
     </div>
    </div>
  </div>

      <% if !(@braker.has_box? || @braker.has_machine?) %>

          <div class="col-lg-4">
            <%= render 'boxes/form2', box: @box %>
          </div>

          <div class="col-lg-4">
            <%= render 'machines/form', machine: @machine %>
          </div>

      <% else %>


      <% end %>

 </div>