<div class="row mt-5">
  <div class="col-lg-4">
    <div class="card">
      <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title text-light"><%= @braker.box.name%>のブレーカー</h5>
        親
        <p class="text-light"><%= link_to @braker.box.name, box_path(@braker.box) %></p>
        電圧
        <p class="text-light"><%= @braker.volt %>[V]</p>
        サイズ
        <p class="text-light"><%= @braker.size %>[A]</p>
          <% if @braker.relation.present? %>
              子
              <p class="text-light"><%= link_to @braker.relation.box.name,box_path(@braker.relation.box) %></p>
          <% elsif @braker.supply.present? %>
              子
              <p class="text-light"><%= link_to @braker.supply.machine.name, machine_path(@braker.supply.machine) %></p>
          <% end %>
        </p>
     </div>
    </div>
  </div>

      <% if !(@braker.has_box? || @braker.has_machine?) %>

          <div class="col-lg-4">
            <%= render 'boxes/form2', box: @box %>
          </div>

          <div class="col-lg-4">
            <%= render 'machines/form', machine: @machine %>
          </div>

      <% else %>


      <% end %>

 </div>