
    <div class="card h-100">
      <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
      <div class="card-body">
        <h4 class="card-title text-light"><%= machine.name %></h4>
        <p><%= link_to '詳細へ移動', machine_path(machine), class: "btn btn-sm btn-outline-info pull-right"%></p>

        親
        <p class="text-light"><%= machine.supply.braker.box.name %></p>
        機器名
        <p class="text-light"><%= machine.name%></p>
        定格電力
        <p class="text-light"><%= machine.kw %>[kw]</p>
        力率
        <p class="text-light"><%= machine.cos %></p>
        電圧
        <p class="text-light"><%= machine.volt %>[V]</p>
        場所
        <p class="text-light"><%= Place.find(machine.place_id).place %></p>

      </div>
    </div>

