<h5><%= box.name%> (接続状況)</h5>

<table class='table table-boardered'>

  <thead>
     <tr>
       <th>ブレーカー</th>
       <th>使用状況</th>
       <th></th>
     </tr>
  </thead>

  <tbody>
     <%  brakers.each do |braker|  %>
       <tr>
         <td>
           <%= braker.volt%>[V]用<%= braker.size%>[AT]
         </td>
         <!--変電所に、盤がついている場合-->
          <%if braker.box.kind == 0 && braker.relation.present? %>
              <td>
                   <%= link_to braker.relation.box.name, tree_path(braker.relation.box), remote: true %>
              </td>
              <td>
                   <%= link_to '詳細へ移動', box_path(braker.relation.box), class: "btn btn-sm btn-outline-info"%>
              </td>
          <!--変電所に、機器がついている場合-->
          <%elsif braker.box.kind == 0 && braker.supply.present? %>
              <td>
                   <%= link_to braker.supply.machine.name, tree_detail_path(braker.supply.machine), remote: true  %>
              </td>
              <td>
                   <%= link_to '詳細へ移動', machine_path(braker.supply.machine), class: "btn btn-sm btn-outline-info"%>
              </td>
          <!--盤に、機器がついている場合-->
          <%elsif braker.box.kind == 1 && braker.supply.present?%>
              <td>
                   <%= link_to braker.supply.machine.name, tree_detail_path(braker.supply.machine), remote: true  %>
              </td>
              <td>
                   <%= link_to '詳細へ移動', machine_path(braker.supply.machine), class: "btn btn-sm btn-outline-info"%>
              </td>
          <!--盤に、がついている場合-->    
          <%elsif braker.box.kind == 1 && braker.relation.present? %>
              <td>
                   <%= link_to braker.relation.box.name, tree_path(braker.relation.box), remote: true %>
              </td>
              <td>
                   <%= link_to '詳細へ移動', box_path(braker.relation.box), class: "btn btn-sm btn-outline-info"%>
              </td>
           <%else %>
               <td>
                   空き
                </td>
                <td>
                   <%= link_to '機器追加する', braker_path(braker) , class: "btn btn-sm btn-outline-info"%>
                </td>

           <%end%>

       </tr>
     <% end %>
  </tbody>
</table>