<div class="card">
  <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title">Machine</h4>
    <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p>

        <%= form_with model:machine,local:true do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :place %>
            <%= f.collection_select :place, Place.all , :id, :place,{prompt: "選択してください"}, {class: "form-control"} %>
            <%= f.label :kw %>
            <%= f.number_field :kw, class: 'form-control' %>
            <%= f.label :cos %>
            <%= f.number_field :cos, class: 'form-control' %>
            <%= f.label :volt %>
            <%= f.number_field :volt, class: 'form-control' %>
            <%= f.label :cable_size %>
            <%= f.number_field :cable_size, class: 'form-control' %>
            <%= f.hidden_field :braker_id, :value =>@braker.id %>

            <%= f.submit class: 'btn btn-primary mt-3' %>

        <% end %>

  </div>
</div>