<div class="row mt-5">
  <div class="col-lg-4">
    <div class="card">
      <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
      <div class="card-body">
        <h4 class="card-title text-light"><%= @machine.name%></h4>
        親
        <p class="text-light"><%= @machine.supply.braker.box.name %></p>
        定格容量
        <p class="text-light"><%= @machine.kw %>[kw]</p>
        力率
        <p class="text-light"><%= @machine.cos %></p>
        電圧
        <p class="text-light"><%= @machine.volt %></p>
        設置場所
        <p class="text-light"><%= @machine.place.place %></p>
      </div>

    </div>
  </div>
</div>