<!DOCTYPE html>
<html>
  <head>
    <title>EManageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

  <div class="fixed-top">
    <%= render 'layouts/header' %>
    <div class="bg-warning text-center text-dark" id="flash_error"><%=flash[:error]%></div>
    <div class="bg-info text-center text-dark" id="flash_info"><%=flash[:info]%></div>
    <% if Cable.all.blank? %>
      <div class="bg-danger text-center text-dark" id="flash_info">$ rails db:seed をしてください。</div>
    <% end %>
  </div>

  <main>
    <div class="wrapper">
      <div class="container min-vh-100">
        <%= yield %>
      </div>
      <div class="mx-auto text-center">
        <p class="white mb-0 pb-3">Copyright © 2021 eManager - All Rights Reserved.  </p>
      </div>
    </div>
  </main>

  </body>

</html>
